body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: $primary-text-color;
  background-color: $primary-white-color;
}

.list {
  list-style: none;
}

.no-scroll {
  overflow: hidden;
}
