.footer {
  background-color: $dark-bg-color;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__content {
  display: flex;
  flex-direction: column;
  gap: 60px;
  text-align: center;
  justify-content: center;
  // align-items: baseline; for desktop
}

// .footer-top-left {
//   @include tablet {
//     margin-bottom: 60px;
//     display: flex;
//     justify-content: space-around;
//     align-items: baseline;
//   }
// }
// @include desktop {
//   margin-bottom: 0;

.footer__contacts {
  // text-align: center;
}

.address {
  margin-top: 20px;
}

.address__link {
  font-style: normal;
  line-height: 1.71;

  color: $footer-link-color;
  text-decoration: none;

  transition: color $transition-default;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.address__item {
  margin-bottom: 8px;

  &:last-child {
    margin-bottom: 0;
  }
}

.footer__map {
  font-style: normal;
  line-height: 1.71;

  color: $primary-white-color;
  text-decoration: none;

  transition: color $transition-default;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.footer__social {
  // text-align: center;
}

.social__title {
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: $primary-white-color;
}

.footer__form {
  color: $primary-white-color;
  display: flex;
  justify-content: center;
}

.form__label {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
}

.form__input {
  display: block;
  margin-top: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  width: 100%;
  // width: 358px; desktop
  border: 1px solid rgba(255, 255, 255, 0.3);

  border-radius: 4px;
  background-color: inherit;
  transition: outline-color $accent-color;
  font-size: 16px;
  color: $primary-white-color;

  &:focus {
    outline-color: $accent-color;
  }

  &::placeholder {
    line-height: 1.25;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.6);
  }
  // @include tablet {
  //   // display: block;
  //   max-width: 450px;
  // }
}

.form__btn {
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 28px;
  display: flex;
  align-items: center;

  // @include tablet {
  //   // display: block;
  // }
}

.btn__icon {
  // display: flex;
  // align-items: center;

  margin-left: 12px;
  fill: currentColor;
}

// .input__btn {
//   display: flex;
//   justify-content: center;
// }
