.footer {
  background-color: $dark-bg-color;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__content {
  // display: flex;
  // flex-direction: column;
  text-align: center;
  // gap: 60px;
}

.footer__tablet-top {
  @include tablet {
    margin-bottom: 60px;
    padding-left: 76px;
    padding-right: 89px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
}

.footer__contacts {
  // margin-right: 70px;
  margin-bottom: 60px;
  @include tablet {
    margin-bottom: 0;
  }
}

.address {
  margin-top: 20px;
}

.footer__list {
  margin-bottom: 8px;

  &:last-child {
    margin-bottom: 0;
  }
}

.address__link {
  // display: block;
  font-style: normal;
  line-height: 1.71;

  color: $footer-link-color;
  text-decoration: none;

  transition: color $transition-default;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.footer__map {
  // display: block;
  font-style: normal;
  line-height: 1.71;

  color: $primary-white-color;
  text-decoration: none;

  transition: color $transition-default;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.footer__social {
  // margin-right: 93px;
  margin-bottom: 60px;
  @include tablet {
    margin-bottom: 0;
  }
}

.follow__title {
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: $primary-white-color;
}

.form {
  color: $primary-white-color;
}

.form__label {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
}

.form__input {
  // display: block;
  margin-top: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  width: 100%;

  border: 1px solid rgba(255, 255, 255, 0.3);

  border-radius: 4px;
  background-color: inherit;
  transition: outline-color $accent-color;
  font-size: 16px;
  color: $primary-white-color;

  &:focus {
    outline-color: $accent-color;
  }

  &::placeholder {
    line-height: 1.25;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.6);
  }
  @include tablet {
    max-width: 450px;
  }
}

.form__btn {
  // display: block;
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 28px;
  min-width: 200px;
  background-color: $accent-color;
  color: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  // display: flex;
  // align-items: center;
  // text-align: center;
  letter-spacing: 0.06em;

  border: transparent;
  box-shadow: $btn-shadow;
  border-radius: 4px;

  cursor: pointer;
  transition: background-color $transition-default;
}

.form__btn:hover,
.form__btn:focus {
  background-color: $interactive-btn-color;
}

.btn__icon {
  margin-left: 12px;
  fill: currentColor;
}

.input__btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
}
