.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  color: $accent-color;
  text-decoration: none;

  &__decor--dark {
    color: $second-logo-color;
  }

  &__decor--light {
    color: $primary-white-color;
  }
}

.header__logo {
  margin-right: 93px;
}
