.footer {
  background-color: $dark-bg-color;
  padding-top: 60px;
  padding-bottom: 60px;
}

.address {
  margin-top: 20px;
}

.address__link {
  display: block;
  font-style: normal;
  line-height: 1.71;

  color: $footer-link-color;
  text-decoration: none;

  transition: color $transition-default;
}

.footer__list {
  margin-bottom: 9px;
}

.footer__list:last-child {
  margin-bottom: 0;
}

.footer__map {
  display: block;
  font-style: normal;
  line-height: 1.71;

  color: $primary-white-color;
  text-decoration: none;

  transition: color $transition-default;
}

.address__link:hover,
.address__link:focus,
.footer__map:hover,
.footer__map:focus {
  color: $accent-color;
}

.footer__content {
  display: flex;
  align-items: baseline;
}

.footer__left-side {
  margin-right: 70px;
}

.footer__right-side {
  margin-right: 93px;
}

.follow__title {
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $primary-white-color;
}

.form {
  color: $primary-white-color;
}

.form__label {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
}

.form__input {
  margin-top: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  width: 358px;

  border: 1px solid rgba(255, 255, 255, 0.3);

  border-radius: 4px;
  background-color: inherit;
  transition: outline-color $accent-color;
  font-size: 16px;
  color: $primary-white-color;
}

.form__input:focus {
  outline-color: $accent-color;
}

.form__input::placeholder {
  line-height: 1.25;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.6);
}

.btn__icon {
  margin-left: 10px;
  fill: currentColor;
}

.input__btn {
  display: flex;
  align-items: baseline;
}

.form__btn {
  margin-left: 12px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 28px;
  min-width: 200px;
  background-color: $accent-color;
  color: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  border: transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  cursor: pointer;
  transition: background-color $transition-default;
}

.form__btn:hover,
.form__btn:focus {
  background-color: $interactive-btn-color;
}
